html,
body,
#root,
.app {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 10px;

}
.text-draw {
  font-size: 7rem;
  fill: none;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: draw 6s linear forwards
}
@keyframes draw {
  to {
      stroke-dashoffset: 0;
  }
}